.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(
    210,
    53,
    241
  ); /* Por ejemplo, color de fondo semitransparente */
  z-index: 9999; /* Ajusta el valor de z-index según sea necesario */
  /* Otros estilos específicos del componente */
}
